.container-fluid {
	max-width: 100%;
}

/* NAV BAR */
#navbar {
	z-index: 1;
}

nav {
	text-decoration: none;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	z-index: 1;
}

.navbar-brand {
	font-size: 23px;
	color: #b0baaf !important;
}

.navbar a {
	color: #b0baaf !important;
	text-decoration: none;
}

.navbar-brand {
	-webkit-transition: .5s all;
	-webkit-transition-delay: 1s;
	-moz-transition: .5s all;
	-moz-transition-delay: 1s;
	-ms-transition: .5s all;
	-ms-transition-delay: 1s;
	-o-transition: .5s all;
	-o-transition-delay: 1s;
	transition: .5s all;
	transition-delay: 1s;
}

.navbar-brand:hover {
	color: rgb(59, 58, 58) !important;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.navbar-light .navbar-nav .nav-link {
	-webkit-transition: .5s all;
	-webkit-transition-delay: 1s;
	-moz-transition: .5s all;
	-moz-transition-delay: 1s;
	-ms-transition: .5s all;
	-ms-transition-delay: 1s;
	-o-transition: .5s all;
	-o-transition-delay: 1s;
	transition: .5s all;
	transition-delay: 1s;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(59, 58, 58) !important;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

/* HERO TEXT */

.hero-text {
	font-size: 500px;
	text-transform: uppercase;
	color: #b0baaf;
	text-align: right;
}

.coordinates {
	float: left;
}

/* FONT */

body {
	font-family: 'Teko', sans-serif;
	overflow: scroll;
}

/* Portfolio links */

#portfolio {
	text-align: center;
	color: #b0baaf;
}
.text-title {
	font-size: 160px;
	text-decoration: none;
	color: #b0baaf;
}

.one:hover {
	color: #ff00ff;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.two:hover {
	color: #8e4585;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.three:hover {
	color: #93e9be;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.four:hover {
	color: #ff0bac;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.five:hover {
	color: #c3f400;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.six:hover {
	color: #00bec5;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.seven:hover {
	color: #4b0082;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

/* Media queries */

@media (min-width: 1200px) {
	#portfolio {
		padding-top: 400px;
	}
}

@media (min-width: 1200px) {
	.hero-text {
		padding-top: 400px;
	}
}

@media (max-width: 767px) {
	.text-title {
		font-size: 72px;
	}
}

@media (max-width: 767px) {
	/* Add to remove the logo */
	.navbar-brand {
		display: none;
	}
}

@media (max-width: 767px) {
	.hero-text {
		font-size: 70px;
		text-align: left;
		padding-top: 170px;
	}
	.coordinates {
		font-size: 15px;
		text-align: left;
		padding-bottom: 300px;
	}
}
