.container-fluid {
	max-width: 100%;
}

/* NAV BAR */
#navbar {
	z-index: 1;
}

nav {
	text-decoration: none;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	z-index: 1;
}

.navbar-brand {
	font-size: 23px;
	color: #b0baaf !important;
}

.navbar a {
	color: #b0baaf !important;
	text-decoration: none;
}

.navbar-brand {
	-webkit-transition: .5s all;
	-webkit-transition-delay: 1s;
	-moz-transition: .5s all;
	-moz-transition-delay: 1s;
	-ms-transition: .5s all;
	-ms-transition-delay: 1s;
	-o-transition: .5s all;
	-o-transition-delay: 1s;
	transition: .5s all;
	transition-delay: 1s;
}

.navbar-brand:hover {
	color: rgb(59, 58, 58) !important;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.navbar-light .navbar-nav .nav-link {
	-webkit-transition: .5s all;
	-webkit-transition-delay: 1s;
	-moz-transition: .5s all;
	-moz-transition-delay: 1s;
	-ms-transition: .5s all;
	-ms-transition-delay: 1s;
	-o-transition: .5s all;
	-o-transition-delay: 1s;
	transition: .5s all;
	transition-delay: 1s;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(59, 58, 58) !important;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

/* HERO TEXT */

.hero-text {
	font-size: 500px;
	text-transform: uppercase;
	color: #b0baaf;
	text-align: right;
}

.coordinates {
	float: left;
	color: rgb(51, 51, 51);
}

/* FONT */

body {
	font-family: 'Teko', sans-serif;
	overflow: scroll;
}

/* Portfolio links */

#portfolio {
	text-align: center;
	color: #b0baaf;
}
.text-title {
	font-size: 160px;
	text-decoration: none;
	color: #b0baaf;
}

.one:hover {
	color: #ff00ff;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.two:hover {
	color: #8e4585;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.three:hover {
	color: #93e9be;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.four:hover {
	color: #ff0bac;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.five:hover {
	color: #c3f400;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.six:hover {
	color: #00bec5;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.seven:hover {
	color: #4b0082;
	text-decoration: none;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

/* Archived portfolio */

.aspectRatioBox {
	padding-top: calc(3 / 2 * 100%); /*aspect ration 3:2 */
	background-size: cover;
	background-position: center;
}

h5 {
	text-align: center;
	color: #b0baaf;
}

.hide-image {
	opacity: 0.1;
}

.hide-image:hover {
	opacity: 0.5;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

.carousel-caption {
	top: 40%;
	font-size: 100px;
	text-decoration: none !important;
	color: rgb(51, 51, 51);
}

.link-color:hover {
	color: #006d75;
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

/* Info and contact */

.name-text {
	font-size: 500px;
	color: #b0baaf;
	float: right;
}

#bio {
	display: inline-block;
	vertical-align: middle;
	margin-top: 300px;
	color: #b0baaf;
	padding-left: 200px;
	font-size: 25px;
}

/* footer */

#socials {
	float: right;
}

#socials a {
	text-decoration: none;
	color: #b0baaf;
	font-size: 25px;
}

#socials a:hover {
	text-decoration: none;
	color: rgb(59, 58, 58);
	-webkit-transition: 1s all;
	-webkit-transition-delay: 2s;
	-moz-transition: 1s all;
	-moz-transition-delay: 2s;
	-ms-transition: 1s all;
	-ms-transition-delay: 2s;
	-o-transition: 1s all;
	-o-transition-delay: 2s;
	transition: 1s all;
	transition-delay: 0s;
}

/* Media queries */

/* 2560 */
@media (min-width: 2560px) {
	.name-text {
		margin-top: -50px;
	}
}

/* 1440px */

@media (min-width: 1440px) {
	.name-text {
		margin-top: -40px;
	}
}

/*lg screens */
@media (min-width: 1200px) {
	#portfolio {
		padding-top: 400px;
	}
}

@media (min-width: 1200px) {
	.hero-text {
		padding-top: 400px;
	}
}

@media (min-width: 1200px) {
	#bio {
		font-size: 50px;
	}
}

/* mid size screens 1024 */

@media (min-width: 1024px) {
	.hero-text {
		padding-top: 450px;
	}
	#portfolio {
		padding-top: 450px;
	}
}

@media (min-width: 1024px) {
	#bio {
		margin-top: 50px;
		margin-left: -100px;
		text-overflow: normal;
		font-size: 20px;
		width: 60%;
	}
}

/* Min width 991px */
@media (min-width: 991px) {
	.hero-text {
		padding-top: 450px;
	}
	#portfolio {
		padding-top: 450px;
	}
}

@media (min-width: 991px) {
	#bio {
		margin-top: 50px;
		margin-left: -100px;
		text-overflow: normal;
		font-size: 20px;
		width: 60%;
	}
}

/* 768px */

@media (min-width: 768px) {
	.hero-text {
		padding-top: 450px;
	}
	#portfolio {
		padding-top: 450px;
	}
}

@media (min-width: 768px) {
	#bio {
		margin-top: 50px;
		margin-left: -100px;
		text-overflow: normal;
		font-size: 20px;
		width: 60%;
	}
}

/* Mobile */
@media (max-width: 767px) {
	.text-title {
		font-size: 72px;
	}
}

@media (max-width: 767px) {
	/* Add to remove the logo */
	.navbar-brand {
		display: none;
	}
}

@media (max-width: 767px) {
	.hero-text {
		font-size: 70px;
		text-align: left;
		padding-top: 170px;
	}
	.coordinates {
		font-size: 15px;
		text-align: left;
		padding-bottom: 300px;
	}
}

@media (max-width: 767px) {
	.name-text {
		display: none;
	}
	#bio {
		margin-left: -150px;
	}
}
